@font-face {
    font-family: 'Lato';
    src: url(fonts/LatoLight.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Lato';
    src: url(fonts/LatoRegular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url(fonts/latomedium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Lato';
    src: url(fonts/LatoBold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url(fonts/latoheavy.ttf);
    font-weight: 800;
}

@font-face {
    font-family: 'Lato';
    src: url(fonts/latoblack.ttf);
    font-weight: 900;
}